body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
.bg-image {
  background-image: url("BG.png");
  /*EFECTO PARA LA IMAGEN*/
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-texto {
  background-color: rgba(247, 229, 222, 0.719); 
  color: black;
  font-weight: bold;
  position: absolute;
  top: 360px;
  left:5%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 100%;
  padding: 20px;
  text-align: center ;
}
/*ver porque no lo reconoce*/
.logo2{
  width: 150px;
  height: 150px;
}
.buscar{
	border: 1px solid #D6BA85;
	padding: .6rem 3.0rem;
	color:black;
	text-decoration: none;
	border-radius: 8px;
	background-color: rgb(230, 214, 214);
	font-weight: bold;
  margin-left: 23px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 250px;
}
li a {
  display: block;
  color: #000;
  padding: 15px 18px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(230, 214, 214);
  color: black;
}
.bg-texto-general {
  color: black;
  font-weight: bold;
  position: absolute;
  top: 350px;
  left:922px;
  transform: translate(-50%, -50%);
  width: 1310px;
  height: 100%;
  padding: 20px;
}
.btn-agregar{
  color: black;
	text-decoration: none;
	border-radius: 26px;
	background-color: #FFFFFF;
	font-weight: bold;
  padding: 15px 24px;
  display: flex;
  flex-direction: row;
  width: 302px;
  margin: 8px;
}
.distancia-texto{
  margin-left: 18px;
}
.etapas{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;  
}
[draggable] {
  user-select: none;
}
.column:hover {
  border: 2px dotted #666666;
  border-radius: 10px;
  box-shadow: inset 0 0 3px #000;
  cursor: move;
}
p{
  color: black;
  text-transform: none;
}
.contenedor-card-item { 
 margin-top: 5px; 
 background-color: #FFFFFF !important;
 border-radius: 16px;
 width: 160px;
 height: 90px;
 margin-left: 20px;
}
.filas{
 display: grid;
 grid-template-columns: repeat(8, 1fr);
 grid-gap: 10px;
 margin-right: 0fr;
 height: 101px;
}
.column {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 32px;
  height: 100px;
}
.modalDialogo {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: -1200px;
	background-color: rgba(255, 255, 255, 0.45);
	opacity:0;
  transition: all 2s;
	pointer-events: none;
}
.modalDialogo:target {
  background: #FFFFFF;
	opacity:1;
	pointer-events: auto;
  width: 670px;
  height: 732px;
  top: 0;
  border-radius: 26px 0px 0px 26px;
  left: 656px;
}
.btn-cerrar{
  color: black;
	text-decoration: none;
	border-radius: 26px;
	background-color: #FFFFFF;
	font-weight: bold;
  padding: 15px 24px;
  display: flex;
  flex-direction: row;
  width: 194px;
  height: 54px;
  margin: 8px;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px gray;
}
.btn-cerrar:hover{
  background: #FFFFFF;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
}
.Todos-los-pedidos{
  color: black;
  text-transform:uppercase;
  margin-left: -340px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 29px;
}
.crearpedido{
color: #FFFFFF;
width: 600px;
}
.contenedor-de-pedidos{
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 140px;
  height: 80px;
 }
 .filas-crear-pedido{
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 10px;
  margin-right: 10px;
  height: 50px;
 }
.btn-menos-mas{
/* Marrón */
  background: #3B1F16;
  border-radius: 26px;
  bottom: 8px;
  color: #FFFFFF;
  justify-content: center;
  width: 32px;
  height: 32px;
 }
 .cantidad-de-pedidos{
  /* Marrón */
    background: #3B1F16;
    border-radius: 26px;
    width: 68px;
    height: 32px;
    bottom: 8px;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
  }
.contenedor-general-de-la-tarjeta{
  margin-top: 10px; 
  background-color: #FFFFFF !important;
  width: 156px;
  height: 178px;
  margin-left: 20px;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 12px;
 }
 .imagen{
  width: 1350;
  height: 55px;
 }
 .precio{
  margin-left: -92px;
 }
 .select-pedido{
  background-color: transparent;
  border: none;
 }
 .estilo-efemenias{
  color:#D6BA85 ;
  text-transform: none;
  font-size: 12px;
  margin: 12px;
}
 p{
  text-align: center;
  font-size: 14px;
}
.info{
    text-align: center;
    height: 20px ;
}
.color-footer{
  background: #D6BA85;
  border-radius: 26px 0px 0px 26px; 
  width: 670PX; 
  margin-top: -82px;
  height: 80px;
}
.btn-crear-pedido{
  background: #3B1F16;
  border-radius: 26px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 24px;
  margin-left: 420px;
}
.lugar-del-boton{
 margin: 30px;
}
.detalles-del-pedido{
  position: absolute;
  width: 220px;
  height: 29px;
  left: 30px;
  margin-top: -5px;
  color:#4F4F4F;
  font-size: 13px;
}
.precio-final{
  font-weight: bold;
  margin-left: -187px;
  color:#3B1F16;;
  font-size: 17px;
}